---
import Section from '../section.astro'
import ItemFaq from './item-faq.astro'
import BgPrimefit from '../bg-primefit/index.astro'
import { FAQ } from '@/consts/faq'
---

<div class='relative'>
  <BgPrimefit />
  <Section id='faq'>
    <h1
      class='text-[clamp(2.5rem,4vw,3rem)] uppercase font-extrabold tracking-tighter leading-none mb-4'
    >
      Preguntas frecuentes
    </h1>
    <ul class='flex flex-col-reverse gap-4 w-full'>
      {
        FAQ.map(({ question, answer }) => (
          <ItemFaq question={question} answer={answer} />
        )).reverse()
      }
    </ul>
  </Section>
</div>

<style>
  h1 {
    view-timeline-name: --faq-tittle-timeline-name;
    animation-name: faq-tittle-enter;
    animation-fill-mode: both;
    animation-timeline: --faq-tittle-timeline-name;
    animation-range: entry 20% cover 40%;
  }

  @keyframes faq-tittle-enter {
    from {
      transform: translateY(-150%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
