---
export interface Props {
  class?: string
  question: string
  answer: string
}

const { class: className = '', question, answer } = Astro.props
---

<li>
  <details name='faq' class:list={[className, 'relative']}>
    <summary>
      <h4 class='inline'>{question}</h4>
      <div class='absolute inset-0 transition delay-300'></div>
    </summary>

    <article class='top-full transition delay-300'>
      <div class='inset-0'></div>
      <p class='z-10'>
        {answer}
      </p>
    </article>
  </details>

  <h4 class='sr-only'>{question}</h4>
  <p class='sr-only'>{answer}</p>
</li>

<style>
  details {
    @apply rounded-lg backdrop-blur-lg marker:text-tertiary-color transition;

    summary {
      @apply overflow-hidden relative rounded-t-lg border-2 border-primary-color/30 cursor-pointer p-4 transition rounded-b-lg;
    }

    &[open] summary {
      @apply border-primary-color/70 rounded-b-none;
    }

    &[open] summary div {
      @apply bg-gradient-to-r from-primary-color/30 to-transparent;
    }

    &:not([open]) summary div {
      @apply bg-gradient-to-l from-primary-color/30 to-transparent;
    }

    article {
      @apply rounded-b-lg border-2 border-tertiary-color/30 p-4 bg-secondary-color text-accent-color font-light;
    }

    article div {
      background-image: radial-gradient(
        ellipse at left top,
        #00ffc82e,
        transparent
      );
    }

    view-timeline-name: --faq-item-timeline-name;
    animation-name: faq-item-enter;
    animation-fill-mode: both;
    animation-timeline: --faq-item-timeline-name;
    animation-range: entry 10% cover 30%;
  }

  li {
    perspective: 100rem;
  }

  @keyframes faq-item-enter {
    from {
      transform: rotateX(-90deg);
      opacity: 0;
    }
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
</style>
