---
import Section from "../section.astro";
---

<Section id="hero">
  <header class='flex-1 h-full w-full flex items-center justify-center'>
    <h1 class='[font-size:clamp(4rem,12vw,6rem)] uppercase skew-y-12 font-bold font-tourney rounded-md bg-secondary-color bg-opacity-40 backdrop-blur-sm px-8 text-center'>
      PrimeFit
    </h1>
  </header>

  <p class='line-clamp-6 max-w-96 w-3/4 text-base sm:text-lg font-special-elite'>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>

  <button class='mt-12 mx-auto w-min px-16 py-2 rounded-md backdrop-blur-sm shadow shadow-primary-color border border-primary-color text-xl hover:text-secondary-color hover:bg-primary-color hover:scale-105 transition'>
    Comenzar
  </button>
</Section>
