---
import Section from '../section.astro'
---

<div
  class="absolute -z-20 top-0 left-0 h-dvh w-full bg-[url('https://media.gq.com.mx/photos/625db17471f363f634bce022/master/pass/ejercicio-1388957838.jpg')] bg-cover bg-top bg-no-repeat [mask-image:linear-gradient(to_bottom,#1b171d,transparent)]"
>
</div>
<Section id='hero' class='!px-0'>
  <header
    class='flex-1 relative h-full w-full flex items-center justify-center'
  >
    <h1
      class='[font-size:clamp(6rem,12vw,8rem)] uppercase font-extrabold [text-shadow:_0_10px_10px_rgb(0_0_0_/_70%)] tracking-[-1rem] md:tracking-[-1.25rem]'
    >
      <span>P</span>
      <span>r</span>
      <span>i</span>
      <span>m</span>
      <span>e</span>
      <span>F</span>
      <span>i</span>
      <span>t</span>
    </h1>
  </header>

  <div class='px-8 flex flex-col justify-center text-center'>
    <p class='line-clamp-6 text-base sm:text-lg text-accent-color'>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>

    <button
      class='mt-8 mx-auto w-min px-16 py-2 text-xl bg-primary-color text-background-color border border-primary-color backdrop-blur-sm hover:text-primary-color hover:bg-transparent hover:scale-105 transition'
    >
      Comenzar
    </button>
  </div>
</Section>
