---
import Section from "../section.astro";
---

<Section id="especificaciones">
  <div class="flex flex-col gap-8 w-full h-full">
    <article>
      <header>
        <h1>Especificaci贸n 1</h1>
      </header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </article>

    <article>
      <header>
        <h1>Especificaci贸n 2</h1>
      </header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </article>

    <article>
      <header>
        <h1>Especificaci贸n 3</h1>
      </header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </article>

    <article>
      <header>
        <h1>Especificaci贸n 4</h1>
      </header>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </article>
  </div>
  </Section>

<style>
  article {
    @apply rounded-md border-2 border-primary-color text-primary-color p-4 flex-1 bg-secondary-color/30 backdrop-blur-md h-min w-min min-w-80 max-w-full;

    view-timeline-name: --specification-timeline-name;
    animation-name: specification-enter;
    animation-fill-mode: both;
    animation-timeline: --specification-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  article:first-child {
    --initial-enter: translateY(150%);
    --end-enter: translateY(0);
    margin-inline: auto;
  }

  article:nth-child(2) {
    --initial-enter: translateX(-150%);
    --end-enter: translateX(0);
    margin-left: auto;
  }

  article:nth-child(3) {
    --initial-enter: translateX(150%);
    --end-enter: translateX(0);
    margin-right: auto;
  }

  article:last-child {
    --initial-enter: translateY(150%);
    --end-enter: translateY(0);
    margin-inline: auto;
  }

  @keyframes specification-enter {
    from {
      transform: var(--initial-enter);
      opacity: 0;
    }
    to {
      transform: var(--end-enter);
      opacity: 1;
    }
  }
</style>
