---
import Marquee from '../marquee.astro'
import Section from '../section.astro'
import BarbellIcon from '@/icons/barbell.astro'
---

<Marquee class='bg-primary-color py-2' velocity='slow'>
  <p class='text-secondary-color'>ENTRENAMIENTO</p>
  <span class='text-accent-color/70'><BarbellIcon /></span>
  <p class='text-secondary-color'>NUTRICION</p>
  <span class='text-accent-color/70'><BarbellIcon /></span>
  <p class='text-secondary-color'>DESAFIO</p>
  <span class='text-accent-color/70'><BarbellIcon /></span>
  <p class='text-secondary-color'>TRABAJO</p>
  <span class='text-accent-color/70'><BarbellIcon /></span>
</Marquee>

<Section id='entrenador' class='md:!flex-row gap-8 items-center justify-center'>
  <img
    src='https://media.gq.com.mx/photos/625db17471f363f634bce022/master/pass/ejercicio-1388957838.jpg'
    alt='Foto del entrenador de PrimeFit'
    class='md:hidden w-full h-auto aspect-video rounded-lg object-cover object-center'
  />

  <figure
    class='flex-1 h-full hidden md:flex flex-row gap-1 justify-center items-center'
  >
    <img
      src='https://media.gq.com.mx/photos/625db17471f363f634bce022/master/pass/ejercicio-1388957838.jpg'
      alt='Foto 1 del entrenador de PrimeFit'
      class='flex-1 mb-4 h-96 aspect-[9-16] object-cover object-center overflow-hidden'
    />
    <img
      src='https://media.gq.com.mx/photos/625db17471f363f634bce022/master/pass/ejercicio-1388957838.jpg'
      alt='Foto 2 del entrenador de PrimeFit'
      class='flex-1 mt-4 h-96 aspect-[9-16] object-cover object-center overflow-hidden'
    />
  </figure>

  <article class='md:flex-1 w-full'>
    <h1
      class='text-[clamp(2.5rem,4vw,3rem)] uppercase font-extrabold tracking-tight leading-none'
    >
      Sobre el entrenador
    </h1>
    <h2
      class='text-2xl uppercase font-light text-accent-color text-opacity-70 leading-none tracking-tight'
    >
      Entrenador y asesor en salud física, enfocado en bienestar integral y
      prevención de riesgos.
    </h2>
    <p class='mt-4 text-opacity-70'>
      Con 4 años de experiencia, brindo entrenamiento personalizado y asesoría
      en salud y bienestar. He colaborado en el Hospital Santa Matilde en la
      detección de riesgos de salud y trabajado con ARL en la prevención de
      riesgos laborales. Además, cuento con experiencia docente en educación
      física.
    </p>
    <p class='mt-4 text-opacity-70'>
      Mis especialidades incluyen programación de entrenamientos, gestión de
      riesgos laborales y desarrollo de planes de salud. Comprometido con
      mejorar la calidad de vida y bienestar de mis usuarios, aporto un enfoque
      integral en cada programa.
    </p>
  </article>
</Section>

<Marquee class='py-2' velocity='slow'>
  <p class='text-primary-color'>ENTRENAMIENTO</p>
  <span class='text-tertiary-color/70'><BarbellIcon /></span>
  <p class='text-primary-color'>NUTRICION</p>
  <span class='text-tertiary-color/70'><BarbellIcon /></span>
  <p class='text-primary-color'>DESAFIO</p>
  <span class='text-tertiary-color/70'><BarbellIcon /></span>
  <p class='text-primary-color'>TRABAJO</p>
  <span class='text-tertiary-color/70'><BarbellIcon /></span>
</Marquee>

<style>
  h1 {
    view-timeline-name: --trainner-tittle-timeline-name;
    animation-name: trainner-tittle-enter;
    animation-fill-mode: both;
    animation-timeline: --trainner-tittle-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  @keyframes trainner-tittle-enter {
    from {
      transform: translateY(150%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  h2,
  p {
    view-timeline-name: --trainner-text-timeline-name;
    animation-name: trainner-text-enter;
    animation-fill-mode: both;
    animation-timeline: --trainner-text-timeline-name;
    animation-range: entry 30% cover 50%;
  }

  @keyframes trainner-text-enter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  img {
    view-timeline-name: --trainner-img-mobile-timeline-name;
    animation-name: trinner-img-mobile-enter;
    animation-fill-mode: both;
    animation-timeline: --trainner-img-mobile-timeline-name;
    animation-range: entry 10% cover 40%;
  }

  @keyframes trinner-img-mobile-enter {
    from {
      transform: scale(0) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  figure img {
    view-timeline-name: --trainner-img-timeline-name;
    animation-name: trinner-img-enter;
    animation-fill-mode: both;
    animation-timeline: --trainner-img-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  @keyframes trinner-img-enter {
    from {
      transform: translateX(-150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
