---
import Layout from '@/layouts/Layout.astro'
import NavBar from '@/components/navbar/index.astro'
import Footer from '@/components/footer.astro'
---

<Layout title='Bienvenido a PrimeFit'>
  <NavBar />

  <main
    class='relative flex flex-col gap-8 h-svh w-full justify-center items-center px-4 py-16 text-center'
  >
    <h1 class='text-4xl font-bold uppercase'>
      Ups! <span class='block'>No encontramos esa página</span>
    </h1>
    <a href='/' class='hover:underline'>Volver al inicio</a>
  </main>

  <Footer />
</Layout>
