---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/components/navbar/index.astro';

import Hero from '@/components/hero/index.astro';
import Especifications from '@/components/especifications/index.astro';
import Trainner from '@/components/trainner/index.astro';
import Faq from '@/components/faq/index.astro';
import Contact from '@/components/contact/index.astro';
---

<Layout title="Welcome to PrimeFit">
	<NavBar />

	<main class="relative flex flex-col min-h-svh">
		<div class="fixed -z-20 inset-0 mt-16 h-dvh w-full bg-[url('https://media.gq.com.mx/photos/625db17471f363f634bce022/master/pass/ejercicio-1388957838.jpg')] sepia bg-cover bg-center bg-no-repeat">
		</div>
		<div class='fixed -z-10 inset-0 mt-16 h-dvh w-full bg-[radial-gradient(transparent_10%,_#13151a_70%)]'></div>

		<Hero />
		<Especifications />
		<Trainner />
		<Faq />
		<Contact />
	</main>
</Layout>
