---
import Layout from '@/layouts/Layout.astro';
import NavBar from '@/components/navbar/index.astro';

import Hero from '@/components/hero/index.astro';
import Especifications from '@/components/especifications/index.astro';
import Trainner from '@/components/trainner/index.astro';
import Faq from '@/components/faq/index.astro';
import Contact from '@/components/contact/index.astro';
---

<Layout title="Welcome to PrimeFit">
	<NavBar />

	<main class="relative flex flex-col min-h-svh">
		<Hero />
		<Especifications />
		<Trainner />
		<Faq />
		<Contact />
	</main>
</Layout>
