---
import Section from '../section.astro'

import InstagramIcon from '@/icons/instagram.astro'
import WhatsappIcon from '@/icons/whatsapp.astro'
import PhoneIcon from '@/icons/phone.astro'
import CheckIcon from '@/icons/check.astro'
import AlertIcon from '@/icons/alert.astro'
import DeviceIcon from '@/icons/device.astro'
import PinnedIcon from '@/icons/pinned.astro'
---

<Section id='contacto' class='!p-0 !max-w-full'>
  <div class='mx-auto w-full max-w-screen-lg px-8 pt-24 pb-16 sm:py-0'>
    <h1
      class='[font-size:clamp(1.8rem,11vw,8rem)] uppercase font-extrabold tracking-tighter'
    >
      Contactanos
    </h1>
  </div>

  <div
    class='mb-24 sm:mb-16 flex flex-col gap-8 sm:flex-row w-full h-full mx-auto max-w-screen-lg justify-center items-center'
  >
    <form
      id='contact-form'
      class='flex-1 relative sm:min-w-96 w-full max-w-screen-sm h-full px-8 py-4 sm:py-16 flex flex-col justify-center items-start'
      action='https://webhook.site/cf42a654-eca7-49b4-8133-4283664d19c3'
      method='POST'
    >
      <div
        class='-z-10 absolute top-0 left-0 aspect-square rounded-full bg-primary-color/20 w-80 blur-3xl'
      >
      </div>
      <div class='relative z-0 w-full mb-5 group'>
        <input
          type='text'
          name='name'
          id='name'
          class='block py-2.5 px-0 w-full text-sm text-primary-color bg-transparent border-0 border-b-2 border-accent-color/10 appearance-none focus:outline-none focus:ring-0 focus:border-tertiary-color peer placeholder-transparent focus:placeholder-accent-color/30 autofill:bg-background-color'
          placeholder='PrimeFit'
          autocapitalize='words'
          required
        />
        <label
          for='name'
          class='uppercase peer-focus:font-medium absolute text-sm text-primary-color/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 line-clamp-1 truncate w-full overflow-hidden'
          >Tu Nombre</label
        >
      </div>

      <div class='w-full grid md:grid-cols-2 md:gap-6'>
        <div class='relative z-0 w-full mb-5 group'>
          <input
            type='email'
            name='email'
            id='email'
            class='block py-2.5 px-0 w-full text-sm text-primary-color bg-transparent border-0 border-b-2 border-accent-color/10 appearance-none focus:outline-none focus:ring-0 focus:border-tertiary-color peer placeholder-transparent focus:placeholder-accent-color/30 autofill:bg-background-color'
            placeholder='prime@fit.com'
            required
          />
          <label
            for='email'
            class='uppercase peer-focus:font-medium absolute text-sm text-primary-color/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-primary-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 line-clamp-1 truncate w-full overflow-hidden'
            >Tu correo</label
          >
        </div>
        <div class='relative z-0 w-full mb-5 group'>
          <input
            type='tel'
            name='phone_number'
            id='phone_number'
            class='block py-2.5 px-0 w-full text-sm text-primary-color bg-transparent border-0 border-b-2 border-accent-color/10 appearance-none focus:outline-none focus:ring-0 focus:border-tertiary-color peer placeholder-transparent focus:placeholder-accent-color/30 autofill:bg-background-color'
            placeholder='+57 (300) 123-4567'
            required
          />
          <label
            for='phone_number'
            class='uppercase peer-focus:font-medium absolute text-sm text-primary-color/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-primary-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 line-clamp-1 truncate w-full overflow-hidden'
            >Tu número de teléfono</label
          >
        </div>
      </div>

      <div class='relative z-0 w-full mb-5 flex flex-row gap-2 items-center'>
        <label
          id='virtual'
          class='flex-1 text-sm text-primary-color/70 uppercase flex items-center justify-end gap-2'
          >Virtual<DeviceIcon class='size-6' /></label
        >
        <button
          role='switch'
          aria-checked='true'
          id='switch-presencial'
          name='switch-presencial'
          class='switch w-14 h-8 p-1 rounded-full bg-primary-color/20 relative transition duration-1000 ease-in-out'
        >
          <div
            class='absolute top-1 h-3/4 aspect-square rounded-full bg-primary-color transition'
          >
          </div>
        </button>
        <label
          id='presencial'
          class='flex-1 text-sm text-primary-color uppercase flex items-center justify-start gap-1'
          ><PinnedIcon class='size-6' />Presencial</label
        >
      </div>

      <div class='relative z-0 w-full mb-5 group'>
        <textarea
          name='message'
          id='message'
          class='block py-2.5 px-0 w-full text-sm text-primary-color bg-transparent border-0 border-b-2 border-accent-color/10 appearance-none focus:outline-none focus:ring-0 focus:border-tertiary-color peer placeholder-transparent focus:placeholder-accent-color/30 autofill:bg-background-color [field-sizing:content] max-h-40 min-h-10'
          placeholder='Quiero mas información...'
          autocapitalize='on'
          required></textarea>
        <label
          for='message'
          class='uppercase peer-focus:font-medium absolute text-sm text-primary-color/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary-color peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 line-clamp-1 truncate w-full overflow-hidden'
          >Deja tu mensaje</label
        >
      </div>

      <button
        class='mt-4 w-min px-16 py-2 text-xl bg-primary-color text-background-color border border-primary-color backdrop-blur-sm hover:text-primary-color hover:bg-transparent hover:scale-105 transition'
        type='submit'>Enviar</button
      >
      <p
        id='success-status'
        class='text-sm text-tertiary-color bg-tertiary-color/30 p-2 rounded-lg mt-4 flex items-center gap-2'
      >
        <CheckIcon class='size-10' />
        <span>
          Gracias por tu mensaje, nos pondremos en contacto contigo lo antes
          posible
        </span>
      </p>
      <p
        id='alert-status'
        class='text-sm text-red-100 bg-red-400/30 p-2 rounded-lg mt-4 flex items-center gap-2'
      >
        <AlertIcon class='size-10' />
        <span>
          Oops! Algo salió mal, intenta nuevamente o ponte en contacto con
          nosotros
        </span>
      </p>

      <div class='mt-8'>
        <p class='uppercase text-sm text-primary-color/70'>
          Envianos un correo
        </p>
        <a
          class='text-primary-color hover:underline'
          href='mailto:contacto@primefit.com'
        >
          contacto@primefit.com
        </a>
      </div>
    </form>

    <article
      class='relative px-8 py-4 sm:py-16 flex flex-col justify-center items-center max-w-md text-right'
    >
      <div
        class='-z-10 absolute bottom-0 right-0 aspect-square rounded-full bg-tertiary-color/15 w-80 blur-3xl'
      >
      </div>
      <p class='mb-4 font-extralight text-accent-color leading-tight'>
        Es muy importante para nosotros mantenernos en contacto contigo, por eso
        estamos siempre listos para responder cualquier pregunta que tengas. ¡No
        dudes en escribirnos!
      </p>

      <ul class='flex flex-col gap-2 w-full items-end'>
        <li>
          <a
            class='flex flex-row gap-2 hover:underline'
            href='https://www.instagram.com/primefit/'
            target='_blank'
            rel='noreferrer'
            title='Visita Nuestra Página de Instagram'
          >
            @primefit
            <InstagramIcon class='size-6' />
          </a>
        </li>
        <li>
          <a
            class='flex flex-row gap-2 hover:underline'
            href='https://api.whatsapp.com/send/?phone=%2B573001234567&text&type=phone_number&app_absent=0'
            target='_blank'
            rel='noreferrer'
            title='Escríbenos por Whatsapp'
          >
            +57 (300) 123-4567
            <WhatsappIcon class='size-6' />
          </a>
        </li>
        <li>
          <a
            class='flex flex-row gap-2 hover:underline'
            href='tel:+573001234567'
            title='Llamanos o escríbenos'
          >
            +57 (300) 123-4567
            <PhoneIcon class='size-6' />
          </a>
        </li>
      </ul>
    </article>
  </div>
</Section>

<script>
  import { $ } from '@/lib/dom-selector'

  const $form = $('#contact-form') as HTMLFormElement
  const $successStatus = $('#success-status') as HTMLParagraphElement
  const $alertStatus = $('#alert-status') as HTMLParagraphElement

  const $switchPresencial = $('#switch-presencial') as HTMLButtonElement
  const $labelPresencial = $('#presencial') as HTMLLabelElement
  const $labelVirtual = $('#virtual') as HTMLLabelElement

  $successStatus.classList.add('hidden')
  $alertStatus.classList.add('hidden')

  $form.addEventListener('submit', handleSubmit)

  function handleSubmit(e: Event) {
    e.preventDefault()
    $successStatus.classList.add('hidden')
    $alertStatus.classList.add('hidden')

    const formTarget = e.target as HTMLFormElement
    const data = new FormData(formTarget)
    const presencialStatus =
      $switchPresencial.getAttribute('aria-checked') === 'true'
        ? 'presencial'
        : 'virtual'
    data.append('class_mode', presencialStatus)

    fetch(formTarget.action, {
      method: $form.method,
      body: data,
      headers: {
        Accept: 'application/json'
      }
    })
      .then((response) => {
        if (response.ok) {
          $successStatus.classList.remove('hidden')
          $alertStatus.classList.add('hidden')
          $form.reset()
          return
        }

        response.json().then((data) => {
          if (Object.hasOwn(data, 'errors')) {
            throw new Error(data.errors.join(', '))
          }
          $alertStatus.classList.remove('hidden')
          $successStatus.classList.add('hidden')
        })
      })
      .catch(() => {
        $alertStatus.classList.remove('hidden')
        $successStatus.classList.add('hidden')
      })
  }

  $switchPresencial.addEventListener('click', handleSwitchEvent, false)
  $labelPresencial.addEventListener('click', handleOnSwitch, false)
  $labelVirtual.addEventListener('click', handleOffSwitch, false)

  function handleOnSwitch(evt: Event) {
    evt.preventDefault()
    onSwitch()
  }
  function handleOffSwitch(evt: Event) {
    evt.preventDefault()
    offSwitch()
  }
  function handleSwitchEvent(evt: Event) {
    evt.preventDefault()
    const el = evt.target as HTMLButtonElement

    if (el.getAttribute('aria-checked') === 'true') {
      offSwitch()
    } else {
      onSwitch()
    }
  }

  function onSwitch() {
    $labelPresencial.classList.remove('text-primary-color/70')
    $labelVirtual.classList.remove('text-primary-color')

    $labelPresencial.classList.add('text-primary-color')
    $labelVirtual.classList.add('text-primary-color/70')
    $switchPresencial.setAttribute('aria-checked', 'true')
  }
  function offSwitch() {
    $labelPresencial.classList.remove('text-primary-color')
    $labelVirtual.classList.remove('text-primary-color/70')

    $labelVirtual.classList.add('text-primary-color')
    $labelPresencial.classList.add('text-primary-color/70')
    $switchPresencial.setAttribute('aria-checked', 'false')
  }
</script>

<style>
  h1 {
    @apply overflow-hidden whitespace-nowrap;

    view-timeline-name: --contact-tittle-timeline-name;
    animation-name: contact-tittle-enter;
    animation-fill-mode: both;
    animation-timeline: --contact-tittle-timeline-name;
    animation-range: entry 20% cover 40%;
  }

  @keyframes contact-tittle-enter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  form {
    view-timeline-name: --contact-form-timeline-name;
    animation-name: contact-form-enter;
    animation-fill-mode: both;
    animation-timeline: --contact-form-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  @keyframes contact-form-enter {
    from {
      transform: translateX(-150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  article {
    view-timeline-name: --contact-article-timeline-name;
    animation-name: contact-article-enter;
    animation-fill-mode: both;
    animation-timeline: --contact-article-timeline-name;
    animation-range: entry 10% cover 20%;
  }

  @keyframes contact-article-enter {
    from {
      transform: translateX(150%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  [role='switch'][aria-checked='true'] div {
    transform: translateX(100%);
  }

  [role='switch'][aria-checked='false'] div {
    transform: translateX(0);
  }
</style>
