---
import MenuDesktop from './menu-desktop.astro'
import MenuMobile from './menu-mobile.astro'
---

<nav class='top-2 fixed z-20 w-full px-2'>
  <div
    id='navbar'
    class='relative px-6 sm:px-1 py-3 sm:py-0 flex gap-8 items-center justify-between max-w-screen-lg w-full mx-auto rounded-full'
  >
    <div
      class='-z-10 inset-0 absolute backdrop-blur-lg max-w-screen-lg w-full mx-auto h-full rounded-full'
    >
    </div>
    <a href='/' class='block sm:pl-6'>
      <h1>Prime<span class='font-bold opacity-70'>Fit</span></h1>
    </a>

    <MenuMobile />
    <MenuDesktop />
  </div>
</nav>

<style is:global>
  #navbar {
    animation-name: nav-enter;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: entry 0% cover 10%;
  }

  @keyframes nav-enter {
    to {
      @apply bg-primary-color/70 text-secondary-color;
    }
  }

  #navbar li {
    animation-fill-mode: both;
    animation-timeline: scroll();
  }

  #navbar #navbar-especificaciones {
    animation-range: entry 20% exit 40%;
  }

  #navbar #navbar-entrenador {
    animation-range: entry 40% exit 60%;
  }

  #navbar #navbar-faq {
    animation-range: entry 60% exit 80%;
  }

  #navbar #navbar-contacto {
    animation-range: entry 80% cover;
  }
</style>
