---
import { SECTIONS } from '@/consts/sections'
---

<ul
  id='navbar-menu-desktop'
  class='hidden sm:flex items-center justify-end w-full group py-1'
>
  {
    SECTIONS.map(({ title, href }) => (
      <li
        id={`navbar-${href.replaceAll('/#', '')}`}
        class='sm:group-hover:opacity-30 sm:hover:!opacity-100 px-6 py-4 transition rounded-full'
      >
        <a href={href}>{title}</a>
      </li>
    ))
  }
</ul>

<style>
  li {
    animation-name: section-desktop-enter;
  }

  @keyframes section-desktop-enter {
    0% {
      @apply bg-transparent;
    }
    1% {
      @apply bg-primary-color;
    }
    99% {
      @apply bg-primary-color;
    }
    100% {
      @apply bg-transparent;
    }
  }
</style>
