---
import { SECTIONS } from '@/consts/sections'
import InstagramIcon from '@/icons/instagram.astro'
import PhoneIcon from '@/icons/phone.astro'
import WhatsappIcon from '@/icons/whatsapp.astro'
import MailIcon from '@/icons/mail.astro'
---

<button
  id='navbar-hamburger'
  class=`group sm:hidden flex flex-col justify-center items-center focus:outline-none border border-secondary-color rounded-md p-2 aspect-square bg-primary-color/70
  hover:scale-105 hover:shadow-md hover:bg-primary-color
  active:scale-95 active:shadow-inner transition`
  aria-label='Abrir menú'
>
  <span class='-translate-y-0.5'></span>
  <span class='my-1 opacity-100'></span>
  <span class='translate-y-0.5'></span>
</button>

<div
  id='navbar-menu-mobile'
  class=`z-50 w-full absolute left-0 top-[calc(100%+0.5rem)] h-[calc(100dvh-100%-1.5rem)]
  bg-primary-color/70 backdrop-blur-lg text-secondary-color shadow-lg p-6 -translate-x-[500%] transition rounded-xl flex flex-col justify-between items-center gap-4 overflow-hidden`
>
  <ul class='flex flex-col w-full'>
    {
      SECTIONS.map(({ title, href }) => (
        <li
          id={`navbar-${href.replaceAll('/#', '')}`}
          class='w-full border-b-2 text-2xl border-secondary-color/30 rounded-md hover:bg-primary-color group-hover:opacity-30 hover:!opacity-100 transition'
        >
          <a class='block w-full px-4 py-4' href={href}>
            {title}
          </a>
        </li>
      ))
    }
  </ul>

  <div class='w-full flex justify-between items-center gap-2'>
    <a
      href='#'
      class='rounded-lg p-2 text-secondary-color hover:text-primary-color hover:bg-secondary-color transition border border-secondary-color/70'
    >
      <WhatsappIcon class='size-8' />
      <span class='sr-only'>Escribenos por Whatsapp</span>
    </a>
    <a
      href='#'
      class='rounded-lg p-2 text-secondary-color hover:text-primary-color hover:bg-secondary-color transition border border-secondary-color/70'
    >
      <MailIcon class='size-8' />
      <span class='sr-only'>Mandanos un correo</span>
    </a>
    <a
      href='#'
      class='rounded-lg p-2 text-secondary-color hover:text-primary-color hover:bg-secondary-color transition border border-secondary-color/70'
    >
      <PhoneIcon class='size-8' />
      <span class='sr-only'>Llamanos o escribenos</span>
    </a>
    <a
      href='#'
      class='rounded-lg p-2 text-secondary-color hover:text-primary-color hover:bg-secondary-color transition border border-secondary-color/70'
    >
      <InstagramIcon class='size-8' />
      <span class='sr-only'>Visita Nuestra Página de Instagram</span>
    </a>
  </div>
</div>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  let mobileMenuOpen = false

  const body = $('body')
  const menu = $('#navbar-menu-mobile')
  const button = $('#navbar-hamburger')
  const line1 = $('#navbar-hamburger span:nth-child(1)')
  const line2 = $('#navbar-hamburger span:nth-child(2)')
  const line3 = $('#navbar-hamburger span:nth-child(3)')
  const optionsMenu = $$('#navbar-menu-mobile li')

  button?.addEventListener('click', () => {
    mobileMenuOpen = !mobileMenuOpen

    if (mobileMenuOpen) {
      showMenu()
      return
    }

    hideMenu()
  })

  optionsMenu.forEach((option) => {
    option.addEventListener('click', () => {
      mobileMenuOpen = false
      hideMenu()
    })
  })

  function showMenu() {
    body?.classList.add('overflow-hidden')
    menu?.classList.remove('-translate-x-[500%]')
    line1?.classList.add('!rotate-45', '!translate-y-[0.4rem]')
    line2?.classList.add('!opacity-0')
    line3?.classList.add('!-rotate-45', '!-translate-y-[0.4rem]')
  }

  function hideMenu() {
    body?.classList.remove('overflow-hidden')
    menu?.classList.add('-translate-x-[500%]')
    line1?.classList.remove('!rotate-45', '!translate-y-[0.4rem]')
    line2?.classList.remove('!opacity-0')
    line3?.classList.remove('!-rotate-45', '!-translate-y-[0.4rem]')
  }
</script>

<style>
  button span {
    @apply border border-secondary-color block transition-all duration-300 ease-out h-0.5 w-6 rounded-sm;
  }

  li {
    animation-name: section-mobile-enter;
  }

  @keyframes section-mobile-enter {
    10% {
      @apply border-l-4 border-l-secondary-color bg-primary-color font-bold;
    }
    90% {
      @apply border-l-4 border-l-secondary-color bg-primary-color font-bold;
    }
  }
</style>
