---
import { SECTIONS } from "@/consts/sections";
---

<ul id="navbar-menu-desktop" class="hidden sm:flex items-center justify-end gap-8 w-full group">
  {
    SECTIONS.map(({ title, href }) => (
      <li id={`navbar-${href.replaceAll('/#', '')}`} class="group-hover:opacity-30 hover:!opacity-100 transition"><a href={href}>{title}</a></li>
    ))
  }
</ul>

<style>
  li {
    @apply no-underline;
    animation-name: section-desktop-enter;
    animation-fill-mode: both;
    animation-timeline: scroll();
  }

  #navbar-especificaciones {
    animation-range: entry 20% exit 40%;
  }

  #navbar-entrenador {
    animation-range: entry 40% exit 60%;
  }

  #navbar-faq {
    animation-range: entry 60% exit 80%;
  }

  #navbar-contacto {
    animation-range: entry 80% cover;
  }

  @keyframes section-desktop-enter {
    0% {
      @apply no-underline;
    }
    10% {
      @apply underline;
    }
    90% {
      @apply underline;
    }
    100% {
      @apply no-underline;
    }
  }
</style>
