---
import { SECTIONS } from "@/consts/sections";
---

<ul id="navbar-menu-desktop" class="hidden sm:flex items-center justify-end gap-8 w-full group">
  {
    SECTIONS.map(({ title, href }) => (
      <li id={`navbar-${href.replaceAll('/#', '')}`} class="group-hover:opacity-30 hover:!opacity-100 transition"><a href={href}>{title}</a></li>
    ))
  }
</ul>

<style>
  li {
    animation-name: section-desktop-enter;
  }

  @keyframes section-desktop-enter {
    0% {
      @apply no-underline;
    }
    10% {
      @apply underline;
    }
    90% {
      @apply underline;
    }
    100% {
      @apply no-underline;
    }
  }
</style>
