<footer class='absolute bottom-0 z-20 w-full p-2'>
  <div
    class='relative px-6 py-3 max-w-screen-lg w-fit mx-auto rounded-full bg-tertiary-color/30 backdrop-blur-lg flex items-center justify-center'
  >
    <span class='text-sm text-tertiary-color text-center'
      >© 2024 <a href='#' class='hover:underline hover:text-tertiary-color'
        >PrimeFit</a
      >. Todos los Derechos Reservados.
    </span>
  </div>
</footer>
