<section
  class={'relative mx-auto flex flex-col min-h-dvh md:h-dvh w-full max-w-screen-lg justify-center px-8 py-16 overflow-x-clip ' +
    Astro.props.class}
  {...Astro.props}
>
  <slot />
</section>
