---
import BgLine from './bg-line.astro'
---

<div class='absolute -z-10 top-0 left-0 w-full max-h-full overflow-hidden'>
  <div
    class='absolute z-10 top-0 left-0 w-full h-10 bg-gradient-to-b from-background-color to-transparent'
  >
  </div>
  <div
    class='absolute z-10 bottom-0 left-0 w-full h-10 bg-gradient-to-t from-background-color to-transparent'
  >
  </div>
  <div
    class='w-full flex flex-col justify-start leading-[3.25rem] text-background-color/10 contrast-75 text-7xl uppercase font-extrabold'
  >
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
    <BgLine class='justify-start' />
    <BgLine class='justify-end' />
  </div>
</div>
